.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  margin: 4rem 0rem 0rem 0rem;
  flex: 1;
  background: black;
  /* padding-top: 85px; Header height */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'inter', sans-serif;
  line-height: 1.6;
  color: #333;
  overflow-x: auto;
  scroll-behavior: auto;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }
}